DB_HOSTNAME=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD={{ db_password }}
DB_DATABASE=immich
REDIS_HOSTNAME=redis
REDIS_PORT=6379
JWT_SECRET={{ jwt_secret }}
TZ={{ tz }}
UPLOAD_LOCATION=/usr/src/app/upload
IMMICH_WORKERS=2
IMMICH_MACHINE_LEARNING_ENABLED=false